.divTemp {
  display: flex;
  border: 0.1px #4e4e4e solid;
  border-radius: 5px;
  padding: 3px 10px;
  background: #191919;
}
.divTemp p:nth-child(1) {
  word-break: break-all;
}
.divTemp .pCancelarTemp {
  color: #DDDDDD;
  font-size: 11.9pt;
  font-weight: 200;
  margin-left: 10px;
  cursor: pointer;
}
.divTemp .pCancelarTemp:hover {
  font-weight: 400;
}
