.selectOrdenar {
  padding: 5px 7px;
  outline: none;
  background: #E8EAE6;
  color: #555555;
  border: none;
  border: 0.5px #9D9D9D solid;
  border-radius: 3px;
  height: 30px;
  font-size: 11.7pt;
  cursor: pointer;
}
