.divInicial {
  width: 100%;
  height: 100vh;
  min-height: 500px;
  overflow: hidden;
  background-image: url("../../images/fondos/happy-adorable-dog-eating-bone.jpg");
  background-size: cover;
  background-position: center;
}
.divInicial .sectionInformacionInicial {
  height: 100%;
}
@media (min-width: 500px) {
  .divInicial .sectionInformacionInicial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 900px) {
  .divInicial .sectionInformacionInicial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 100px;
  }
}
.divInicial .sectionInformacionInicial .divCrearUserInicial {
  padding: 25px;
  border-radius: 5px;
  background: rgba(250, 250, 250, 0.95);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px #AAAAAA solid;
}
@media (min-width: 500px) {
  .divInicial .sectionInformacionInicial .divCrearUserInicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 900px) {
  .divInicial .sectionInformacionInicial .divCrearUserInicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 500px) {
  .divInicial .sectionInformacionInicial .divCrearUserInicial .divIconoInicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.divInicial .sectionInformacionInicial .divCrearUserInicial .divIconoInicial .iconoiInicial {
  width: 190px;
  height: 100%;
}
.divInicial .sectionInformacionInicial .divCrearUserInicial .divFormularioInicial {
  display: flex;
  flex-direction: column;
}
.divInicial .sectionInformacionInicial .divCrearUserInicial .divFormularioInicial .h1CrearUser {
  margin-top: 20px;
  color: #1c1919;
  font-size: 12.8pt;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}
.divInicial .sectionInformacionInicial .divCrearUserInicial .divFormularioInicial .inputUserName {
  outline: none;
  padding: 0px 10px;
  height: 36px;
  font-size: 12.5pt;
  color: #393E46;
  border: none;
  border: 1px rgba(198, 198, 198, 0.5) solid;
  border-radius: 5px;
  width: 230px;
}
.divInicial .sectionInformacionInicial .divCrearUserInicial .divFormularioInicial .inputUserName:focus {
  box-shadow: rgba(44, 61, 244, 0.313) 0px 2px 8px 0px;
}
.divInicial .sectionInformacionInicial .divCrearUserInicial .divFormularioInicial .pErrorValidacion {
  color: red;
  width: 100%;
  padding-left: 10px;
  font-size: 10.5pt;
  margin-top: 5px;
}
.divInicial .sectionInformacionInicial .divCrearUserInicial .divFormularioInicial .divBotonIngresar {
  margin-top: 15px;
  background: #FEBC48;
  border-radius: 7px;
  text-align: center;
  padding: 0px 20px;
  height: 36px;
  border: 1px #b0740b solid;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.divInicial .sectionInformacionInicial .divCrearUserInicial .divFormularioInicial .divBotonIngresar .botonIngresar {
  background: none;
  border: none;
  margin-top: 5px;
  color: #aaaa;
  cursor: pointer;
  color: #1c1919;
  font-size: 13pt;
  font-weight: 500;
}
.divInicial .sectionInformacionInicial .divCrearUserInicial .divFormularioInicial .divBotonIngresar .botonIngresar:hover {
  font-weight: 700;
}
